* body{
			background-color:#F8F9FD;
			height: 3000px;

		}
		
		.clearfix {clear: both}
	
		/* start   header */
	
		header{
			width:100%; 
			margin: auto;
			height: 400px;
			background-color: white;
			margin-bottom: 2px;
				background: linear-gradient( -90deg,  #FAF47D 10%, #00CEE0);
		}
		header img{
			margin:auto;
			width:60%; 
			height: 400px;


		}
		header h2{
			float: right;
			font-size: 50px;
			margin-right: 100px;
			margin-top: 150px;
			color: #2061A8;

        /*end header*/
        /* start nav */

		}
		 nav {
		 	width:90%;
		 margin: auto;
		 	margin-top: 10px

		 	height: 100px;
		 text-decoration: none;	
	overflow: hidden;
		 }
		  ul li{
		 	width: 20%;
		 	float: left;
		 	list-style-type: none;
		 	padding-top: 5px;
            height: 30px;
		 	padding-bottom: 10px;
		 	
		 	margin-left: 30px;
		 	background-color: #00CEE0;
		 	color: white;
		 	font-size: 30px;
		 	border-radius: 10px;
		 	text-align: center;

		 }
		  a {
		 	text-decoration: none;
		 	color: white;

		 }
		 /*end nav*/
		 .content {
		 	width: 100%;
		 	height: 500px;
		 	background-color: #F8F9FD;
		 	margin:0;
		 

		 }

		 .content h2{
		 	text-align: center;
		 	font-size: 50px;
		 	font-weight: bold;
		 	color:#2061A8;
		 }
		 .content p{
		 	text-align: center;
		 	color: #2061A8;
		 	font-size: 30px;

		 }
		 .para{
		 	width: 50%;
		 	margin:auto;
		 	overflow: hidden;
		
		 	
		 }

		 .list{
		 	float: left;
		 	width: 40%;
		 	margin:auto;
		 	overflow: hidden;
		 	display: inline-block;

		 }
		 .list p{
		 	margin-left: 70px;
		 	text-align: left;
		 	font-size: 20px;
		 	font-weight: bold;
		 	color: #2061A8;
		 }
		 .list ul li {
		 	width:  50%;
		 	list-style-type: ;
		 	color:#2061A8;
		 	font-size: 20px;
		 	overflow: hidden;
		 	margin-top: 10px;

		 }
		 .list a {

		 	text-decoration: none;
            color:white;


		 }
		 .listanimals{
		 	width: 50%;
		 	margin:auto;
		 	height: 2900px;

		 }
		 .listanimals h2{
		 	color: #2061A8;
		 	text-align: center;
		 	font-size: 40px;
		 	background: linear-gradient(-45deg,  white 20%, #00CEE0);

		 }
		 .listanimals h3{
		 	color: #2061A8;
		 	text-align: center;
		 	font-size: 30px;
		 	
		 }
		 .listanimals p{
		 	color:#2061A8;
		 	text-align: center;
		 	font-size: 30px;
		 	
		 }
		 .listanimals h4{
		 		margin-bottom: 1px;
		 	color: #2061A8;
		 	text-align: center;
		 	font-size: 30px;
		 	margin:auto;
		} 	
		
	  .photo	{
	 	width: 50%;
	 	margin: auto;
		 	margin-left: 150px;
		 	height: 300px;
		 	
		 	overflow: hidden;
		 	margin-bottom: 10px;
		 	border: 2px solid green;
		 	border-radius: 100px;
	 }
	 .photo h4{
	 	margin-bottom: 1px;
		 	color: #2061A8;
		 	text-align: center;
		 	font-size: 30px;
		 	margin:auto;
		 
	 }
		 
		 .listanimals .photo img{
		 	margin-top: 0;
		 	float: left;
		 	width: 100%;
		 	margin: auto;
		 	margin-left: 200px;
		 	height: 240px;
		 	
		 	margin: auto;
		 	margin-bottom: 10px;
		 	
		 	
		  }	
		 	
		 	
		footer{
			text-align: center;
			color: black;
			background-color: #4B7FB9;
		}